<?xml version="1.0"?>
<config>
    <modules>
        <Nrg_EmailVerificator>
            <version>1.0.0</version>
        </Nrg_EmailVerificator>
    </modules>
    <global>
        <helpers>
            <nrg_emailverificator>
                <class>Nrg_EmailVerificator_Helper</class>
            </nrg_emailverificator>
        </helpers>
        <models>
            <nrg_emailverificator>
                <class>Nrg_EmailVerificator_Model</class>
            </nrg_emailverificator>
        </models>
    </global>
    <frontend>
        <routers>
            <nrg_emailverificator>
                <use>standard</use>
                <args>
                    <module>Nrg_EmailVerificator</module>
                    <frontName>emailverificator</frontName>
                </args>
            </nrg_emailverificator>
        </routers>
    </frontend>
    <default>
        <customer>
            <email_verification>
                <api_url><![CDATA[https://emailverification.whoisxmlapi.com/api/v1]]></api_url>
            </email_verification>
        </customer>
    </default>
</config>
